<!DOCTYPE html>
<html class="">


<head>

    <!-- CSS here -->
    <link rel="stylesheet" href="~/Content/MyPham/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/MyPham/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/MyPham/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/MyPham/assets/css/slicknav.css">
    <link rel="stylesheet" href="~/Content/MyPham/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/MyPham/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/MyPham/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/MyPham/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/MyPham/assets/css/slick.css">
    <link rel="stylesheet" href="~/Content/MyPham/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/MyPham/assets/css/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Hang Order </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>

<body>

    @Html.Action("getHeader", "Home")

    @RenderBody()

    @Html.Action("getFooter", "Home")

    @RenderSection("scripts", required: false)


    <!-- JS here -->
    <!-- All JS Custom Plugins Link Here here -->
    <script src="~/Content/MyPham/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="~/Content/MyPham/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Content/MyPham/assets/js/popper.min.js"></script>
    <script src="~/Content/MyPham/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="~/Content/MyPham/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="~/Content/MyPham/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/MyPham/assets/js/slick.min.js"></script>

    <!-- One Page, Animated-HeadLin -->
    <script src="~/Content/MyPham/assets/js/wow.min.js"></script>
    <script src="~/Content/MyPham/assets/js/animated.headline.js"></script>
    <script src="~/Content/MyPham/assets/js/jquery.magnific-popup.js"></script>

    <!-- Scrollup, nice-select, sticky -->
    <script src="~/Content/MyPham/assets/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/MyPham/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/MyPham/assets/js/jquery.sticky.js"></script>

    <!-- contact js -->
    <script src="~/Content/MyPham/assets/js/contact.js"></script>
    <script src="~/Content/MyPham/assets/js/jquery.form.js"></script>
    <script src="~/Content/MyPham/assets/js/jquery.validate.min.js"></script>
    <script src="~/Content/MyPham/assets/js/mail-script.js"></script>
    <script src="~/Content/MyPham/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="~/Content/MyPham/assets/js/plugins.js"></script>
    <script src="~/Content/MyPham/assets/js/main.js"></script>

</body>





</html>
