<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

<footer>

    <!-- Footer Start-->
    <div class="footer-area footer-padding footer__area--color">
        <div class="container">
            <!-- font awesome -->
            <div class="footer__content">
                <div class="footer__items">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
                </div>
                <div class="footer__items">
                    <h3>Liên Kết Hữu Ích</h3>
                    <ul>
                        <li><a href="/Home">Trang chủ</a></li>
                        <li><a href="/AboutUs">Giới thiệu</a></li>
                        <li><a href="/product">Sản phẩm</a></li>
                        <li><a href="/Contact">Liên hệ</a></li>
                    </ul>
                </div>
                <div class="footer__items">
                    <h3>Thông Tin Liên Hệ</h3>
                    <ul>
                        <li>email:huongmnt2019@gmail.com</li>
                        <li>Số điện thoại: 0911 82 82 88</li>
                        <li>Địa Chỉ: Số 337/2/15 Đường Lê Văn Sỹ. Phường 1, Quận Tân Bình, TP. HCM</li>
                    </ul>
                </div>
                <div class="footer__items">
                    <h3>Support</h3>
                    <ul>
                        <li> <a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fa fa-envelope"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- Footer bottom -->
        </div>
    </div>
    </div>
    <!-- Footer End-->

</footer>

<style>
    .footer__area--color{
        background-color:#f3f3f3;
        padding:5% 0
    }

    .footer__content {
        display: flex;
        justify-content: space-around;
        margin: auto;
    }

    .footer__content {
        text-align: left;
    }

    .footer__items:first-child {
        width: 25%;
    }

        .footer__items:first-child p {
            letter-spacing: .05em;
            padding-top: 3.35rem;
        }

    .footer__items:last-child ul li {
        display: inline-block;
        padding-right: 1em;
        font-size: 1.1rem;
    }

    .footer__items:nth-child(2) {
        width: 20%
    }

    .footer__items:nth-child(3) {
        width: 35%
    }

    .footer__items {
        padding: 0 10px
    }

    .footer__items ul {
        list-style: none;
        padding-top:1rem
    }

        .footer__items ul li a {
            text-decoration: none;
            color: #868c98;
            /*            font-weight: 300;
            font-size: 1.3rem;*/
        }

        .footer__items ul li {
            color: #868c98;
            /*            font-weight: 300;
            font-size: 1.3rem;*/
            line-height: 2.5em;
        }

    .footer__items p {
        color: #868c98;
        /*        font-weight: 300;
        font-size: 1.3rem;*/
    }

    .footer__items h3 {
        font-size: 1.3rem;
    }
        .footer__items ul li a:hover {
            color: aqua;
            content: '';
            transform:translateX(20px);
        }

        @@media (min-width: 250px) and (max-width: 1023px) {
            .footer__content {
            display: unset;
        }

        .footer__items:first-child, .footer__items:nth-child(2), .footer__items:nth-child(3), .footer__items:last-child {
            width: 100%;
        }

        .footer__items ul {
            padding: .5em 0;
        }
            .footer__items {
                padding: 2% 0;
            }

    }

/*    @@media only screen and (width:768px) and (height:1024px){
        .footer__items h3 {
            font-size: 1.05rem;
        }
        .footer__items:last-child ul li{
            font-size:1.1em
        }
    }
</style>

<!-- JS here -->
<!-- All JS Custom Plugins Link Here here -->
<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="./assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/slick.min.js"></script>

<!-- One Page, Animated-HeadLin -->
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/animated.headline.js"></script>
<script src="./assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="./assets/js/jquery.scrollUp.min.js"></script>
<script src="./assets/js/jquery.nice-select.min.js"></script>
<script src="./assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="./assets/js/contact.js"></script>
<script src="./assets/js/jquery.form.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/mail-script.js"></script>
<script src="./assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/main.js"></script>

