<div class="shop-method-area section-padding30">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-method mb-40">
                    <i class="ti-package"></i>
                    <h6>Sản Phẩm chất lượng</h6>
                    <p>Cam kết về chất lượng sản phẩm, luôn hỗ trợ đổi trả cho các sản phẩm bị lỗi.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-method mb-40">
                    <i class="ti-unlock"></i>
                    <h6>Giao Hàng nhanh chóng</h6>
                    <p>Đơn hàng được xử lý, và giao hàng trong vòng 1 tuần kể từ ngày tiếp nhận đơn hàng từ khách hàng.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-method mb-40">
                    <i class="ti-reload"></i>
                    <h6>Bảo Mật thông tin khách hàng</h6>
                    <p>Mọi thông tin khách hàng để lại, cửa hàng cam  kết bảo mật 100%. Chỉ sử dụng cho mục đích giao hàng.</p>
                </div>
            </div>
        </div>
    </div>
</div>