@using Outsourcing.Core.Common
@model IEnumerable<Outsourcing.Data.Models.Blog>

    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title">Tin Tức Nổi Bật</h3>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="media post_item">
                    <img src="@item.BlogImage_Default" alt="@item.Title">
                    <div class="media-body">
                        <a href="/newDetail/@item.Slug">
                            <h3>@Html.Raw(slitString.TruncateAtWord(item.Title, 80))</h3>
                        </a>
                        <p>@item.DateCreated.ToString("dd/MM/yyyy")</p>
                    </div>
                </div>
            }
        }

            </aside>
